process.cache = 'deep'

nextflowVersion = '>=23.0'

import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    pipeline = null
    help = null
    debug = null
    project = null
    groups = "plate,well"
    metadata = "metadata.csv"
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "pipeline_info/${params.timestamp}_timeline.html"
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
    quest { includeConfig 'conf/quest.config' }
}

process.container = 'cellprofiler/cellprofiler:4.2.1'
