process.cache = 'deep'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "pipeline_info/${params.timestamp}_timeline.html"
}

executor {
    name='slurm'
    queueSize = 5000
    submitRateLimit = 10
}

singularity {
    pullTimeout = '45 min'
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    errorStrategy='retry'
    maxRetries=3

    withLabel: cellpro {
        memory = { 8.GB * task.attempt }
        time = { 15.min * task.attempt }
        errorStrategy='retry'
        maxRetries=3
    }
}