/*
    Quest Configuration
*/

params{
    baseDir = '/projects/b1059'
    workDir = '/projects/b1059/work'
    dataDir = '/projects/b1059/data'
    softwareDir = '/projects/b1059/software'
    platform = "QUEST"
    anaconda = "python/anaconda3.6"
}

executor {
    queueSize = 5000
    submitRateLimit = 10
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'

    withLabel: xs {
        clusterOptions = '-A b1059 -t 4:00:00 -e errlog.txt'
        cpus = 1
        memory = "4.GB"
    }

    withLabel: sm {
        clusterOptions = '-A b1059 -t 4:00:00 -e errlog.txt'
        cpus = 2
        memory = "8.GB"
    }

    withLabel: md {
        clusterOptions = '-A b1059 -t 4:00:00 -e errlog.txt'
        cpus = 4
        memory = "16.GB"
    }

    withLabel: ml {
        clusterOptions = '-A b1059 -t 12:00:00 -e errlog.txt'
        cpus = 16
        memory = "64.GB"
    }

    withLabel: lg {
        clusterOptions = '-A b1059 -t 24:00:00 -e errlog.txt'
        cpus = 48
        memory = "190.GB"
    }

    withLabel: xl {
        clusterOptions = '-A b1059 -t 24:00:00 -e errlog.txt'
        cpus = 48
        memory = "1500.GB"
    }
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
    pullTimeout = '45 min'
}

